body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: rgb(0,0,33);
    color:  whitesmoke;
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(19, 19, 66);
    padding: 15px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 30px;
    font-weight: 700;
    color: lightblue;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

nav ul li a:hover {
    color: #3165ad;
}

main {
    padding: 20px;
}

.contact-hero {
    text-align: center;
    padding: 60px;
    background-image: url("../images/7.jpg");
    background-size: cover;
    background-position: center;
    color: plum;
}

.contact-hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.contact-hero p {
    font-size: 18px;
    color:#ffffff
}

.contact-form-section {
    display: flex;
    justify-content: center;
    padding: 40px;
}

.form-container {
    width: 100%;
    max-width: 600px;
    background-color: #222;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.form-container h2 {
    color: lightpink;
    margin-bottom: 20px;
}

.form-container label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

.form-container textarea {
    height: 150px;   
}

.button-container {
    display: flex;               
    justify-content: center;    
    width: 100%;                
    margin-top: 20px;         
}
.submit-btn {
    background-color: rgb(213, 153, 162);
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
}

.submit-btn:hover {
    background-color: #ffffff;
}

.contact-info {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    background-color: #333;
}

.info-box {
    text-align: center;
}

.info-box h3 {
    color:lightpink;
    margin-bottom: 10px;
}

footer {
    text-align: center;
    background-color: #000000;
    padding: 20px;
}

footer p {
    margin: 0;
}
